<!DOCTYPE html>
<html>
  <head>
    <title>Girlfriend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <nav class="navbar">
    <%= link_to 'Log out', logout_path, method: :delete, class: 'navlink' %>
    <%= link_to 'All Meet ups', goals_path, class: 'navlink' %>
    <%= link_to 'New Meet up', new_goal_path, class: 'navlink' %>
    </nav>
    
     <%= link_to "Login Here", login_path, class: 'navlink' %>
     <%= link_to 'Log out', logout_path, method: :delete, class: 'navlink' %>
    
    
    <div class="container">
    <%= yield %>
  </body>
</html>
